# Unity project
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Uu]ser[Ss]ettings/

# Visual Studio
*.csproj
*.sln
*.suo
*.user
*.userosscache
*.userprefs
.vs/

# VS Code
.vscode/

# JetBrains Rider
.idea/
*.sln.DotSettings.user

# macOS
.DS_Store

# Unity cache
*.unitypackage
crashlytics-*.log
